# MinIO for local development
AWS_DEFAULT_REGION=eu-central-1
AWS_ENDPOINT_URL_S3=http://localhost:9000
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=password
S3_BUCKET_NAME=data-lake-local
# run `id -u` to get your user id (e.g. 1000)
HOST_UID=
# run `id -g` to get your group id (e.g. 1000)
HOST_GID=
